
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        form {
            margin-top:10px;
        }
    </style>
    <title>Employee</title>
</head>

<body>

    <div class="container text-center">
        <h1>員工資料維護</h1>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="input-group col-5">
                <select class="custom-select col-3" id="searchType">
                    <option value="employeeNumber" selected>員工編號</option>
                    <option value="name">姓名</option>
                </select>
                <input type="text" class="form-control" placeholder="查詢員工編號" id="searchText" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" id="btnSearch">查詢</button>
                </div>
            </div>
            <div class="">
                <h5></h5>
            </div>
            <div class="">
                <button type="button" class="btn btn-primary ml-md-auto d-none" id="btnAdd">新增</button>
                <button type="button" class="btn btn-primary ml-md-auto d-none" id="btnModify">修改</button>
                <button type="button" class="btn btn-primary ml-md-auto d-none" id="btnSave">保存</button>
                <button type="button" class="btn btn-primary ml-md-auto d-none" id="btnCancel">取消</button>
            </div>
        </div>
        <form>
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="width:5%">#</th>
                        <th scope="col" style="width:19%">員工編號</th>
                        <th scope="col" style="width:19%">姓名</th>
                        <th scope="col" style="width:19%">部門名稱</th>
                        <th scope="col" style="width:19%">職位</th>
                        <th scope="col" style="width:19%">聘用日期</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </form>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/Js/Employee/index.js"></script>
</body>

</html>
