
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        form {
            margin-top: 5px;
        }

        .searchBox {
            margin: 10px 0px;
        }

        button {
            margin: 0px 3px;
        }
    </style>
    <title>Employee</title>
</head>

<body>

    <div class="container text-center">
        <h1>員工資料維護</h1>
        <hr>
        <div class="d-flex justify-content-between searchBox">
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">員工編號</div>
                </div>
                <input type="text" class="form-control" placeholder="查詢員工編號" id="textSearchEmployeeNumber" />
            </div>
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">員工姓名</div>
                </div>
                <input type="text" class="form-control" placeholder="查詢員工性名" id="textSearchName" />
            </div>
            <div class="input-group col-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" >部門</label>
                </div>
                <select class="custom-select" id="selectedDepartment">
                    <option value="" selected>選擇部門...</option>
                </select>
            </div>
            <button type="button" class="btn btn-outline-secondary" id="btnSearch">查詢</button>
        </div>
        <hr />
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary d-none" id="btnAdd">新增</button>
            <button type="button" class="btn btn-primary d-none" id="btnModify">修改</button>
            <button type="button" class="btn btn-primary d-none" id="btnSave">保存</button>
            <button type="button" class="btn btn-primary d-none" id="btnCancel">取消</button>
        </div>
        <form>
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="width:6%">#</th>
                        <th scope="col" style="width:18%">員工編號</th>
                        <th scope="col" style="width:19%">姓名</th>
                        <th scope="col" style="width:19%">部門名稱</th>
                        <th scope="col" style="width:19%">職位</th>
                        <th scope="col" style="width:19%">聘用日期</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </form>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/Js/Employee/index.js"></script>
</body>

</html>
